<% include head %>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>确定删除吗？</h1>
        <p>删了就不能反悔了哟</p>
        <form action="#" method="post">
        <p><button class="btn btn-danger btn-lg" role="submit"><i class="glyphicon glyphicon-remove"></i> 删掉它！</button>           <input class="btn btn-danger btn-lg" type="button" name="back" value="想想还是算了" onclick="javascript:history.back(-1);"/></p>
        </form>
      </div>
    </div>

<div class="container gray">
<%
var color = goods.status === 'finished' ? 'danger' : 'success';
var status = goods.status === 'finished' ? 'SOLD' : 'SELLING';
%>
<div class="panel panel-<%= color %>">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12"><h3><span class="label label-<%= color %>"><% if(status==='SOLD') { %>已售<% } %><% if(status=='SELLING') { %>在售<% } %></span>&nbsp;<%= goods.title %></h3></div>
        </div>
        <div class="row">
            <div class="col-xs-2"><strong>商品日期</strong></div>
            <div class="col-xs-10"><date><%=: goods.postDate | formatDate %></date></div>
        </div>
        <div class="row">
            <div class="col-xs-2"><strong>用户</strong></div>
            <div class="col-xs-10"><a href="/goods?user=<%= goods.user %>"><em><%= goods.user %></em></a></div>
        </div>
        <% if (user.name === goods.user || user.privilege === 'administrator') { %>
        <div class="row">
            <div class="col-xs-12"><a href="/goods/<%= goods.id %>/modify" class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i> 修改</a></div>
        </div>
        <% } %>
    </div>
    <div class="panel-body">
        <pre><%= goods.content %></pre>
        <div class="goods-images"><% for (var i = 0; i < goods.images.length; ++i) { %>
            <a href="<%= settings.imageCDN %>/<%= settings.upload %>/<%= goods.images[i].path %>" target="_blank"><img src="<%= settings.imageCDN %>/<%= settings.upload %>/thumb/<%= goods.images[i].path %>"></a>
        <% } %></div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-2">Tags</div>
            <div class="col-xs-10"><% for (var i = 0; i < goods.tags.length; ++i) { %>
                <a href="/goods?tags=<%= goods.tags[i] %>"><span class="label label-default"><%= goods.tags[i] %></span></a>
            <% } %></div>
        </div>
    </div>
</div>

<% include foot %>
